.Rproj.user
.Rhistory
.RData
.Ruserdata
*tmp*
*.RDS
.DS_Store
*_act.png
*_ref.png
*~
Rplots.pdf
test_data.txt
*.tar.gz
*.log
*.html
MANIFEST.txt
GDCdata/
*.rda
*.rds
.Renviron
.gofigr
profile.Rout
profile.R
rsconnect/
*.Rcheck